.topNavbar {
  width: 100%;
  height: 24px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbarContent {
  width: 100%;
  max-width: 1200px;
  height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbarItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.highlight {
  color: red;
  font-size: 12px;
}

.desktopOnly {
  display: none;
}

.midUpperSection {
  display: flex;
  /* width: 100%; */
  align-items: center;
  justify-content: space-between;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}
.leftSection {
  display: flex;
  align-items: center;
  gap: 8px;
}

.name {
  font-weight: bolder;
  font-size: 30px;
  color: black;
  font-family: "Inter", sans-serif;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.icons {
  height: 20px;
  display: flex;
  gap: 5px;
}
.hamburger {
  height: 30px;
  display: none;
}

.desktopOnly {
  display: flex;
}

.lowerNavbar {
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  gap: 64px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: center;
  padding: auto;
  flex-direction: column;
  padding-bottom: 15px;
  border-bottom: 2px solid #e5e5e5; /* Light gray border */
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 20px;
}

/* MOBILE */
@media (max-width: 425px) {
  .desktopOnly {
    display: none;
  }

  .navbarContent {
    justify-content: space-around;
  }

  .hamburger {
    height: 20px;
    display: block;
  }

  .name {
    font-size: 25px;
  }

  .menuIcon {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 1px;
  }

  .leftSection {
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .rightSection {
    width: 70px;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .logoIcon {
    height: 25px;
  }

  .lowerNavbar {
    display: none;
  }

  .Mobileicon {
    display: none;
  }
  .midUpperSection {
    margin-top: 10px;
  }

  .navbar {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom: 2px solid #e5e5e5; /* Light gray border */
  }
}
