.filterContainer {
    width: 100%;
    background-color: transparent;
    border-radius: 4px;
  }
  
  .filterItem{
    border-bottom: 1px solid #e0e0e0;
    width: 300px;
  }
  
  .filterHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    position: relative;
  }
  
  .checkboxOnly {
    padding: 15px;
    cursor: default;
    display: flex;
    align-items: center;
  }
  
  .filterName{
    font-weight: 600;
    font-size: 13px;
  }
  
  .filterValue{
    color: #666;
    font-size: 12px;
    margin-right: 20px;
  }
  
  .arrow {
    position: absolute;
    right: 15px;
    color: #666;
    font-size: 12px;
  }

  .filterHeaderContent{
    display: flex;

    flex-direction: column;
  }

  .arrowDown{
    transform: rotate(90deg);
  }
  .arrowUp{
    transform: rotate(-90deg);
  }
  
  .filterOptions {
    padding: 10px 15px;
    background-color: transparent;
    border-top: 1px solid #e0e0e0;
  }
  
  .unselectOption{
    color: #666;
    font-size: 13px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .checkboxLabel,
  .checkboxOption {
    display: block;
    display: flex;
    cursor: pointer;
    gap: 5px;
  }

  .checkboxLabel{
    display: flex;
    gap:5px;
  }
  
  .checkboxOption:last-child {
    margin-bottom: 0;
  }
  
  .checkbox-label input,
  .checkboxOptioninput {
    margin-right: 10px;
  }
  
  .checkboxOption span {
    font-size: 15px;
    display: flex;
    gap:"20px";

  }

  .bodyContent{
    display: flex;
    flex-direction: row;
  }
 

  @media screen and (max-width: 425px) {
        .filterContainer{
            display: none;
        }
  }